.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem;
  background: transparent;
  transition: transform ease 50ms;
}

.button span {
  margin-inline-start: 0.6rem;
  min-width: 4rem;
  text-align: start;
  color: #e5e5e5;
}

.button svg {
  height: 2rem;
  width: auto;
  color: #e5e5e5;
}

.button:hover {
  outline: none;
  border-color: transparent;
}

/* .button:hover {
  border-color: #646cff;
} */

/* .button:hover svg {
  border-color: #646cff;
} */

.button:hover svg {
  transform: scale(1.2);
}

.button[disabled] span,
.button[disabled] svg {
  color: #a8a8a8;
}

.prev-icon {
  transform: rotate(180deg);
}

.button:hover .prev-icon {
  transform: rotate(180deg) scale(1.2);
}

.button[data-varient="light"] span,
.button[data-varient="light"] svg {
  color: #213547;
}
