.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.list-container {
  text-align: center;
}

.filter-container {
  display: flex;
}

.list-filter-container {
  width: 100%;
  border-radius: 10px;
}

.list-filter-container > :not(:first-child) {
  padding-block-start: 1rem;
}

.title-group {
  display: flex;
  flex-direction: column;
}

.title-group * {
  color: inherit;
}

.title-group > :first-child {
  padding-block-start: 1px;
}

.filter-container select {
  font-size: 1.2rem;
}

.filter-container option {
  font-size: inherit;
  padding: 0.5rem;
}

.filter-container input {
  font-size: 1.2rem;
  padding: 0.5rem;
  flex-grow: 1;
}

.filter-container select,
.filter-container input {
  border-color: #28272a;
}

.container ul {
  padding: 0;
  margin: 0;
  background-color: rgba(85 85 85 / 60%);
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    min-height: 40rem;
  }

  .filter-container input {
    width: 20rem;
  }

  .title-group {
    display: flex;
    flex-direction: row;
  }

  .title-group :last-child {
    padding-inline: 0.5rem;
  }
}

.list-item {
  text-align: start;
  list-style: none;
  border-bottom: 2px solid transparent;
}

.list-item:not(:last-child) {
  box-shadow: 0 1px 0 #8a8a8a;
}

.is-playing,
.list-item:hover {
  background-color: #efefef;
  box-shadow: 0 1px 0 rgba(85 85 85 / 60%), 0 -1px 0 rgba(85 85 85 / 60%);
}

.is-playing *,
.list-item:hover * {
  color: #28272a;
}

.list-item:hover {
  background-color: #efefef;
}

.list-item svg {
  height: 3rem;
  width: auto;
  color: #efefef;
}

.list-item:hover svg {
  transition: transform ease-in 60ms;
  color: #28272a;
}

.title-group :first-child {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.title-group :last-child {
  margin: 0;

  /* This magic number sets line height to match first title group h4 element height for text alignment */
  height: 1.6563rem;
  line-height: 1.6563rem;
  font-size: 1rem;
  font-weight: 300;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
  background-color: transparent;
  padding: 0;
  width: 100%;
}

.button > :last-child {
  margin-inline-start: auto;
  margin-inline-end: 0.5rem;
}

.button:hover {
  border-color: transparent;
}

@media (prefers-color-scheme: light) {
  .container ul {
    background-color: #d0cfd3;
  }

  .list-item svg {
    color: #28272a;
  }

  .list-item {
    box-shadow: 0 1px 0 rgba(85 85 85 / 10%), 0 -1px 0 rgba(85 85 85 / 10%);
  }
}
