.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 95vw;
}

.range-slider {
  height: 0.5rem;
  width: 100%;
  appearance: none;
  cursor: pointer;
  flex-grow: 1;

  /* color is for slider progress */
  color: #f07167;
}

input::-webkit-slider-runnable-track {
  background: #fff;
  height: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  --track-height: 8px;

  /* background: linear-gradient(green 0 0) scroll no-repeat center / 100%
    calc(var(--track-height) + 1px); */
}

input::-moz-range-track {
  background: #fff;
  height: 100%;
}

input::-moz-range-progress {
  height: 100%;

  /* background: linear-gradient(to right, green 100%, #fff 100%); */

  background: linear-gradient(
    45deg,
    rgba(59 173 227 / 100%) 0%,
    rgba(87 111 230 / 100%) 25%,
    rgba(152 68 183 / 100%) 51%,
    rgba(255 53 127 / 100%) 100%
  );
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  cursor: grab;
  background-color: red;
  height: 100%;
  border: none;
  border-radius: 0;
  width: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  --track-height: 8px;
  --thumb-height: 1.375rem;
  --thumb-width: 0.5rem;

  appearance: none;
  cursor: grab;

  /* background-color: red; */
  background: linear-gradient(red 0 0) scroll no-repeat left center / 50%
    calc(var(--track-height) + 1px);
  height: 100%;
  width: 4px;

  /* box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentcolor; */
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-runnable-track,
.range-slider:hover:active {
  cursor: grabbing;
}
