.app {
  max-width: 100vw;
  min-height: 100vh;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 0;
  margin: 0 auto;

  /* width: 80rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.app audio {
  display: block;
}
